<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de estudiantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Estudiantes</h1>
    {# comentario #}

    <table class="table table-resposive">
        <tr>
            <th>Rut</th>
            <th>Nombre Completo</th>
            <th>Fecha Nacimiento</th>
            <th>Fono</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Activo</th>
        </tr>
    {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.rut}}-{{alumno.dv}}
            <td>{{ alumno.nombre | title }} {{ alumno.apellido1 | capfirst }} {{ alumno.apellido2 | capfirst  }}
            <td>{{ alumno.nacimiento}}
            <td>{{ alumno.fono}}
            <td>{{ alumno.direccion}}
            <td>{{ alumno.email}}
            <td>{% if alumno.activo == 1 %} Si {% else %} No {% endif %}
                <td>{{ alumno.activo|yesno:"Si,No"}}</td>
    {% endfor %}
    </table>
    {# Ejercicio: Agregar la lista de alumnos en una tabla (hmtl) todos sus datos  #}
    {#  todos los nombres tiene que estar capitalizado #}
    {# buscar mas instrucciones del lenguaje de plantilla de django #}
</body>
</html>