
{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Listado de Estudiantes  {% endblock %}
{% block tituloPrincipal %} Estudiantes {% endblock %}
{% block mensaje %} {% endblock %}
{% block contenido %} {% endblock %}
{% block listado %} 
{# copiar la tabla completa desde el index2 #}
    <table class="table table-resposive">
        <tr>
            <th>Rut</th>
            <th>Nombre Completo</th>
            <th>Fecha Nacimiento</th>
            <th>Fono</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Activo</th>
        </tr>
    {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.rut}}-{{alumno.dv}}
            <td>{{ alumno.nombre | title }} {{ alumno.apellido1 | capfirst }} {{ alumno.apellido2 | capfirst  }}
            <td>{{ alumno.nacimiento}}
            <td>{{ alumno.fono}}
            <td>{{ alumno.direccion}}
            <td>{{ alumno.email}}
            <td>{% if alumno.activo == 1 %} Si {% else %} No {% endif %}
                <td>{{ alumno.activo|yesno:"Si,No"}}</td>
    {% endfor %}
    </table>
{% endblock %}