
{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Listado de Carreras  {% endblock %}
{% block tituloPrincipal %} Carreras {% endblock %}
{% block mensaje %}
    {% if exito %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{exito}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
{% block contenido %} 
    <a href="{% url 'ingresarCarrera' %}" class="btn btn-primary">Ingresar</a>
{% endblock %}
{% block listado %} 
{# copiar la tabla completa desde el index2 #}
    <table class="table table-resposive">
        <tr>
            <th>id</th>
            <th>Escuela</th>
            <th>Nombre</th>
            <th>Versión</th>
            <th>Activo</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    {% for item in listado %}
        <tr>
            <td>{{ item.id }}
            <td>{{ item.escuela.nombre }}
            <td>{{ item.nombre }}
            <td>{{ item.version }}
            <td>{{ item.activo|yesno:"Si,No"}}</td>
            <td><a href="{#% url 'modificarCarrera' %#}" class="btn btn-warning" >Modificar</a></td>
            <td><a href="{% url 'eliminarCarrera' pk=item.id %}" class="btn btn-danger" >Eliminar</a></td>
    {% endfor %}
    </table>
{% endblock %}

